fastapi==0.104.0

uvicorn==0.23.2

python-dotenv==1.0.0

pandas==1.5.3

pydantic==1.10.12

matplotlib==3.7.2

seaborn

pandasai==1.2.3

langchain-groq==0.0.1

langchain==0.0.267

numpy==1.24.3

python-multipart==0.0.6

SQLAlchemy

alembic

aiomysql

PyMySQL
python-jose
passlib
email-validator
bcrypt==3.2.0
jose
redis
httpx